
h1 {
    text-align: center;
    color: #1cb946; 
    font-size: 2.5em;
    margin-bottom: 20px;
}
body{
    height: 100%;
    
    
    
}
 h2 {
    text-align: center;
    color: #ffffff; 
    font-size: 2.5em;
    margin-bottom: 20px;
}
 img{
    position: fixed;
    border-radius:20px ;
    margin-left: 21.5%;
   
 }